{% extends "layout.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">HertzAlpha ESG & Risk</h1>
    <p class="lead">
HertzAlpha is committed to providing, free of charge or at very low prices, high-quality, simple and analytical solutions in Monte Carlo simulation for professionals.  
    </p> 
    <p class="lead">
We affirm our social commitment by freely sharing knowledge and good practices on quantitative risk analysis and decision-making. 
In this digital age where knowledge is free and affordable, we make available our experience and knowledge in quantitative risk analysis and management. Good practices, quantitative tools, computational methods become easy to acquire and use. </p>
  </div>
</div>
{% endblock content %}
